@import url('https://fonts.googleapis.com/css?family=Lobster|Play:700|Slabo+27px');

body {
	background-color: #d8ceaf;
	font-family: 'Arial', sans-serif;
	text-align: center;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 60px;
	color: #8B4513;
}

#slogan {
	font-family: 'Play', sans-serif;
	font-variant: small-caps;
	font-style: italic;
	font-size: 28px;
	letter-spacing: .1em;
	line-height: 0px;
}

p {
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	line-height: 1.5em;
	color: black;
	margin: 2em;
}

